*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: rgb(4, 4, 4);
}
.normalbg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 20px;
}

.normalbg img {

    max-width: 80%;
    height: 80%; /* Maintain aspect ratio */
}

#hoverImage{
    display: none;
}